{% extends "baseapp/main.html" %}
{% load static %}

{% block style %}

<link href="{% static '/css/style.css'%}" rel="stylesheet">

{% endblock style %}



{% block content %}

    <form class="donate" action="{% url 'donatelanding_page' %}" method="post">
        {% csrf_token %}
        <div class="container2">
        
                <div class="section">
                    <h2 class="section-title">Billing Address</h2>
                    <div class="input-box">
                      <label for="fullName">Full Name:</label>
                      <input type="text" id="fullName" name="donorName" placeholder="Anish Joshi" required
                          oninput="saveFullNameToLocalStorage()">
                  </div>
                  
                  {% comment %} <script>
                      function saveFullNameToLocalStorage() {
                          const fullNameInput = document.getElementById("fullName");
                          const fullNameValue = fullNameInput.value;
                  
                          // Save the full name to localStorage
                          localStorage.setItem("fullName", fullNameValue);
                      }
                  </script> {% endcomment %}
                  
                    <div class="input-box">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="donorEmail" placeholder="example@example.com" required>
                    </div>
                    <div class="input-box">
                        <label for="phone">Phone:</label>
                        <input type="text" id="phone" name="donorPhone" placeholder="9806400774" required>
                    </div>
        
                    <div class="input-box">
                        <label for="blood">Blood Group:</label>
                        <input type="text" id="blood" name="bloodgroupDonor" placeholder="A Positive" required>
                    </div>
        
        
                    <div class="input-box">
                      <label for="amount">Amount:</label>
                      <input type="text" id="amount" name="amount" placeholder="1000" required
                          oninput="saveAmountToLocalStorage()">
                  </div> 
                  
                  {% comment %} <script>
                      function saveAmountToLocalStorage() {
                          const amountInput = document.getElementById("amount");
                          const amountValue = amountInput.value;
                  
                          // Save the amount to localStorage
                          localStorage.setItem("amount", amountValue);
                      }
                  </script> {% endcomment %}
                  
        
                  {% comment %} <div class="input-box">
                    <label for="transactionCode">Transaction Code:</label>
                    <input type="text" id="transactionCode" name="transactionCode" placeholder="q4r791stnx1" required>
                </div> {% endcomment %}
        
                </div>
        
                {% comment %} <div class="section">
                    <h2 class="section-title">Payment</h2>
                    <img src="{% static '/images/scanner.jpg'%}" alt="" class="img-fluid1">
        
                    
                </div> {% endcomment %}
        
                <button type="submit" class="submit-btn">Pay Via Mobile Banking</button>
        
                
        
            </div>
            </form>
        
            
        
{% endblock content%}

{% block js %}

<script src="{% static '/js/main.js' %}"></script>

{% endblock js %}