{% extends "baseapp/main.html" %}
{% load static %}
{% block style %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f7f7f7;
    }
    
    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
    
    main {
        padding: 20px;
    }
    
    section {
        margin-bottom: 30px;
    }
    
    h2 {
        color: #333;
    }
    
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
</style>
{% endblock style %}

{% block content %}

<main>
    <section id="shoutoutSection">
        <h2>{{donordata.name}}, You're Making It Happen with {{donordata.amount}}.</h2>
        <p id="shoutoutContent"></p>
    </section>
    
    <!-- Other sections without dummy content for brevity -->
</main>

{% endblock content %}
{% block js %}
    
    <script src="{% static '/js/script.js'%}"></script>

{% endblock js %}