{% extends "baseapp/main.html" %}
{% load static %}
{% block style %}

{% endblock style %}
{% block content %}

<main>
    <section id="shoutoutSection">
        <br><br><br><br>
        <h2>Don't worry. If there is a will, there is a way.</h2>
        <p id="shoutoutContent"></p>
    </section>
    
    <!-- Other sections without dummy content for brevity -->
</main>
{% endblock content %}

{% block js %}
    
    <script src="{% static '/js/script.js'%}"></script>

{% endblock js %}